body {
    margin: 0;
    background-color: #ffdffd;
    background-image: url('/img/BG.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'League Spartan';
    color:#e9e9e9;
}

header {
    background-color: #ffdffd;
    width: 100%;
    height: 50px;
    transition: height ease 320ms;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 5px solid #f8c8f5;
}

header.show {
    height: 50px;
}

header a {
    font-weight: 600;
    font-size: 30px;
    text-decoration: none;
    color: black;
    cursor:pointer;
    transition: border-radius ease 320ms,
                color ease 320ms
    ;
}

header a:hover {
    border-radius: 8px solid #ffdffd;
}

hero {
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    color: black;
    text-align: left;
    position: relative;
    margin-bottom: 350px;
}

hero h1,
hero h2 {
    font-size: 30px;
    margin-right: 300px;
    margin-left: 120px;
}

hero h2 {
    margin-top: -15px;
}

hero img {
    width: 450px;
    height: auto;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}


about {
    display: flex;
    flex-direction: column;
    background-color: #ffdffd;
    width: 100%;
    height: 250px;
    text-align: center;
    border-radius: 25px 25px 0 0;
    color: black;

}

about h1,h2 {
    margin-top: 20px;
    margin-bottom: 15px;
}

about p {
    margin-left: 60px;
    margin-right: 60px;
}


projects {
    border-top: 10px rgb(255, 209, 246) solid;
    background-color: #ffdffd;
    color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

projects h1 {
    text-align: center;
    margin-bottom:30px;
    margin-top: 60px;
}

project {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: #fdd4f5;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 30px;
}

project img {
    width: 250px;
    height: auto;
    margin-bottom: 60px;
    margin-top: 60px;
    border-radius: 250px;
    cursor: pointer;
}

project img.left {
    margin-left: 30px;
}

project img.right {
    margin-right: 30px;
}

textlabel {
    display: flex;
    flex-direction: column;
    text-align: center;
}

project p {
    margin-top: 40px;
    font-size: 25px;
    color: rgb(34, 34, 34);

}

project p a {
    color: orange;
    text-decoration: none;
    outline: none;
    font-style: none;
}

project p a:visited {
    color: #c0664d
}

project p a:hover {
    color: #ff7b00
}

project p a:active {
    color:#c0664d
}


project info {
    display: flex;
    flex-direction: row;
    row-gap: 25px;
    justify-content:right;
    align-items: center;
}

project info license {
    width: auto;
    min-width: 300px;
    height: auto;
}

project info lang {
    width: 120px;
    height: 30px;
    min-width: 250px;
    margin-left: 250px;
    margin-right: 250px;
    background-size: 100% 3px;
    background-position: top;
    background-repeat: no-repeat;
}

project info lang p {
    font-size: 15px;
    margin-top: 10px;
}

project info license p {
    font-size: 15px;
    margin-top: -8%;
    margin-left: 60%;
}

hero#contact {
    margin-bottom: 0;
}

hero socials {
    display: flex;
    flex-direction: row;
    justify-content: left;
    justify-content: space-evenly;
    background-color: #fdd4f5;
}


hero socials social {
    color: white;
    font-size: 25px;
}

hero socials social p {
    font-size: 25px;
    color: rgb(34, 34, 34);
}

hero socials social p a {
    text-decoration: none;
    outline: none;
    font-style: none;
    color: orange
}

hero socials social p a:visited {
    text-decoration: none;
    outline: none;
    font-style: none;
    color: #c0664d
}

hero socials social p a:hover {
    text-decoration: none;
    outline: none;
    font-style: none;
    color: #ff7b00
}

hero socials social p a:active {
    text-decoration: none;
    outline: none;
    font-style: none;
    color:#c0664d
}